body{
    background-color:rgb(134, 206, 237) ;   
}
.pilota{
    position: absolute;
    width: 80px;
    height:80px;
    border-radius: 50%;
    background-image:linear-gradient( 50deg, orange,rgb(255, 234, 0),white);
    animation-name: botar;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.6,0,0.8,.6);
    animation-iteration-count: infinite;
    
    
} 
.camp{
    width:100%;
    margin: 0;
    height: 300px;
    position:fixed;
    top:560px;
    background-image: linear-gradient( 45deg, green,rgb(0, 255, 0),rgb(196, 233, 197));
    background-size: cover;
    z-index: -1;
}


  .pilota-container{
    position: absolute;
    height: 400px;
    width: 82px;
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
    animation-name: moure;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
  }
  .parets{
      position: absolute;
      height: 100vh;
      width: 1280px;
      margin:0 auto;
      border-right: 35px solid rgb(201, 200, 195);
      border-left: 35px solid rgb(201, 200, 195);
  }

@keyframes moure{
    0%{transform: translateX(0px);}
    100%{transform: translateX(1200px);}
  }
   @keyframes botar{
    0%{transform: translateY(0px);}
    100%{transform: translateY(350px) scale(1.2,0.8);}}
   
      
  
 
  

